---
import { getCollection } from "astro:content";

const links = await getCollection("links");

const sortedLinks = links.sort((a, b) => {
	if (a.data.order < b.data.order) {
		return -1;
	}
	if (a.data.order > b.data.order) {
		return 1;
	}
	return 0;
});
---

<section id="socials" class="site-container relative pt-4">
	<h2 class="text-center text-xl sm:text-3xl mb-8 dark:text-white">Our projects</h1>
	<ul class="flex flex-col gap-4 mb-32 text-center">
		{
			sortedLinks.map((link) => (
				<li>
					<a
						href={link.data.url}
						class="bg-btn-light text-btn-light-text hover:bg-btn-light-hover dark:bg-btn-dark dark:text-btn-dark-text dark:hover:bg-btn-dark-hover flex flex-col items-center justify-center rounded-sm p-2 transition-all duration-300 active:scale-99"
						target="_blank"
						rel="noreferrer"
					>
						<h2 class="text-pretty text-left ml-0 sm:text-lg">{link.data.title}</h2>
						<p class="mt-2 p-2 text-sm leading-snug text-pretty opacity-80">
							{link.data.description}
						</p>
					</a>
				</li>
			))
		}
	</ul>
</section>
